@import "tailwindcss";

:root {
  --background: #fcfafa;
  --foreground: #4f4f4f;
}

@theme {
  --color--hingText: #4f4f4f;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
